*,
*:before
*:after {
	box-sizing: border-box;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group {
  clear: both;
}
.group:after{
  clear: both;
}

body{
	border: 1px solid black;
	margin: auto;
	max-width: 64em;
	font-family: "Platino Linotype", Sans-serif;
	background: url(images/back.jpg);
	background-repeat: none;
	background-size: 100% 100%;

}
header{
	background-color: orange;
}
footer{
	background-color: orange;
}
footer nav{
	padding: 0em;
	text-align: center;

}
.col-100 img{
	width: 100%;
	}
.vidar{
	width: 200px;
	margin: 0 auto;
}
table{
	border-collapse: collapse;
	border: 1px solid;

	margin: auto;
}
td{
	padding: 10px;
	border-bottom: 1px solid;
}
th{
	padding: 10px;
	border-bottom: 1px solid;
}
/*
Grid system
*/
.col-2-3{
	width: 60%;
	padding: 1em;
	
	float: left;

}
.col-1-2{
	width: 50%;
	
}
.col-1-3{
	width: 33.3333%;
	border-left: 1px solid black;
	float: right;
	padding: 1em;
}
.col-100{
	width: 100%;
	
	
}
.box{
	padding: 1em;	
}

img, video, audio {
	max-width: 100%;
	
}
/*
fontar
*/
h1{
	font-size: 3em;
	text-align: center;
}
h2{
	text-align: center;
}
p{
	font-size: 1.20em;
	text-align: center;
	font-family: helvetica;
}
/*
links
*/
a {
  color: blue;
  text-decoration: none;
  display: inline;
}
a:hover {
  color: #a9b2b9;
}
/*
list
*/

/*
center
*/

.mid{
	display: block;
	margin: auto;
}

/*
colors
*/
.blue{
	color:blue;
}
.green{
	background-color:green;
}
.container{
	background: #466368;
    background: -webkit-linear-gradient(#648880, #293f50);
  	background:    -moz-linear-gradient(#648880, #293f50);
  	background:         linear-gradient(#648880, #293f50);
}
.container2{
	background-color: white;
}